 @keyframes dash {
 	to {
 		stroke-dashoffset: -80;
 	}
 }

 .svg {
 	position: absolute;
 	min-width: 100%;
 	min-height: 100%;
 	background-color: transparent;
 	pointer-events: none;
 	z-index: var(--z-index-edge);
 	overflow: visible;

 	&.highlighted {
 		z-index: var(--z-index-edge-hover);
 	}

 	.hoverPath {
 		fill: transparent;
 		stroke-width: 20px;
 		pointer-events: stroke;
 		z-index: 100;
 		stroke-linecap: round;
 		stroke-linejoin: round;

 		&:hover~path {
 			stroke: var(--color-primary);
 		}
 	}

 	.path {
 		fill: none;
 		stroke: var(--color-border);
 		stroke-width: 2px;
 		z-index: 10;
 		pointer-events: none;
 		transition: all 0.1s ease-in-out;

 		&.highlighted {
 			stroke: var(--color-primary);
 		}

 		&.placeholder {
 			stroke-dasharray: 8px, 8px;
 			stroke-dashoffset: 0;
 			animation: dash 1s linear infinite;
 		}
 	}
 }