.orthogonalRoutingRender {
	pointer-events: none;
	z-index: 0;

	.rulers {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;

		.line {
			stroke: var(--color-primary);
			stroke-width: 1;
			stroke-dasharray: 2;
		}
	}

	.gridBounds {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;

		.gridBoundsRect {
			stroke: red;
			stroke-width: 1;
			stroke-dasharray: 2;
			fill: none;
		}
	}

	.gridSlices {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	.validConnectionPoints {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 3;
	}

	.possiblePaths {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 4;
		opacity: 0.7;

		line {
			stroke: white;
			stroke-width: 0.8;
		}
	}

	.stepEdge {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 5;

		&>path {
			fill: none;
			stroke: var(--color-primary);
		}
	}

	.nodes {
		z-index: 6;
		pointer-events: all;

		&>* {
			cursor: pointer;
		}
	}

	.port {
		position: absolute;
		z-index: 7;
		width: 100%;
		height: 100%;

		circle {
			fill: var(--color-primary);
			stroke: var(--color-primary);
		}
	}
}