.node {
	position: absolute;
	top: 0;
	left: 0;
	width: 12rem;
	height: 7rem;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	background-color: var(--color-foreground);
	transition: border 0.1s ease-in-out;
	z-index: var(--z-index-node);

	&.dragging {
		z-index: var(--z-index-node-dragging);
	}

	&:hover,
	&:focus {
		outline: none;
		border-color: var(--color-primary);

		& .handle {
			border-color: var(--color-primary);
		}
	}

	.lockIndicator {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(85%, -85%);
		color: var(--color-primary);
		pointer-events: none;
	}

	.contentWrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
	}
}