.node {
	position: absolute;
	top: 0;
	left: 0;
	width: 12rem;
	height: 7rem;
	border: 1px solid #444;
	border-radius: 0.5rem;
	background-color: #2d2d2d;
	transition: border 0.1s ease-in-out;
	// user-select: none;

	&:hover,
	&:focus {
		outline: none;
		border-color: var(--color-primary);

		& .handle {
			border-color: var(--color-primary);
		}
	}

	.content {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
	}

	.handle {
		width: 0.6rem;
		height: 0.6rem;
		background-color: inherit;
		border: 1px solid #444;
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
		transition: border 0.1s ease-in-out;

		&:hover {
			background-color: var(--color-primary);
		}

		&.right {
			left: 100%;
		}
	}
}