.menu {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 12rem;
	padding: 2px;
	background-color: black;
	border: 1px solid var(--color-border);
	border-radius: 6px;
	transform-origin: top left;
	z-index: 100;

	&>* {
		padding: 0.2rem;
	}

	&>*:first-child {
		border-radius: 4px 4px 0 0;
	}

	&>*:last-child {
		border-radius: 0 0 4px 4px;
	}

	&.top-left {
		transform-origin: top left;
	}

	&.top-right {
		transform-origin: top right;
	}

	&.bottom-left {
		transform-origin: bottom left;
	}

	&.bottom-right {
		transform-origin: bottom right;
	}
}