.menu {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 12rem;
	padding: 0.15rem;
	background-color: var(--color-foreground);
	border: 1px solid var(--color-border);
	border-radius: 6px;
	transform-origin: top left;
	z-index: 100;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	&>* {
		padding: 0.2rem;
	}

	&>*:first-child {
		border-radius: 4px 4px 0 0;
	}

	&>*:last-child {
		border-radius: 0 0 4px 4px;
	}

	&.top-left {
		transform-origin: top left;
	}

	&.top-right {
		transform-origin: top right;
	}

	&.bottom-left {
		transform-origin: bottom left;
	}

	&.bottom-right {
		transform-origin: bottom right;
	}
}

.menuButton {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.5rem 0.8rem;
	font-family: inherit;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--color-foreground);
	border: none;
	margin: 0;
	cursor: pointer;
	transition: all 0.15s ease-in-out;

	&:hover {
		background-color: var(--color-primary);
		color: #ffffff;
	}

	&:disabled {
		cursor: auto;
		color: rgba(255, 255, 255, 0.40);

		&:hover {
			background-color: var(--color-foreground);
			color: rgba(255, 255, 255, 0.40);
		}
	}
}