.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: repeat;
	z-index: 0;
	pointer-events: none;

	&.dots {
		opacity: 0.3;
		background-image: radial-gradient(circle, var(--color-border) 1px, transparent 1px);
	}

	&.grid {
		opacity: 0.2;
		background-image:
			linear-gradient(to right, var(--color-border) 1px, transparent 1px),
			linear-gradient(to bottom, var(--color-border) 1px, transparent 1px);
	}

	&.paper {
		opacity: 0.2;
		background-image: linear-gradient(var(--color-border) 2px, transparent 2px),
			linear-gradient(90deg, var(--color-border) 2px, transparent 2px),
			linear-gradient(var(--color-border) 1px, transparent 1px),
			linear-gradient(90deg, var(--color-border) 1px, transparent 1px);
		background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
		background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	}
}